
body {
  font-family: arial, sans-serif;
  margin: 0 auto;
  width: 100%;
}

header,
article,
footer {
  margin: 10px auto;
  max-width: 400px;
}

header {
  border: 1px solid goldenrod;
}

nav ul {
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}

nav li {
  display: inline-block;
  list-style-type: none;
  padding: 0 4vw;
}

nav a {
  color: rgba(0,0,0,0.7);
  text-decoration: none;
}

nav a:hover {
  color: rgba(0,0,0,1);
}

.month-list a,
a .disabled {
  color: purple;
  text-decoration: none;
}

.month-list a:hover,
.month-list a *:hover {
  color: green;
}

.disabled {
  color: gray;
}

a .active {
  color: yellow;
}

.parent div:first-child {
  color: red;
}

.parent div:nth-of-type(2) {
  color: blue;
}

.parent div h4 {
  color: white;
  padding: 10px;
}

.parent div h4:nth-of-type(1) {
  background-color: red;
}

.parent div h4:nth-of-type(2) {
  background-color: blue;
}

.grandparent {
  text-align: center;
}

.grandparent > h4 {
  border: 1px solid black;
  border-radius: 7px;
  padding: 10px;
}

.promo,
.promo .disabled {
  color: gold;
  display: inline;
  font-weight: bold;
}

.disclaimer {
  font-size: .7em;
  padding: 20px 0;
  text-align: center;
}

footer .promo {
  display: block;
  text-align: center;
}

footer input {
  height: 25px;
  margin: 10px 0;
  padding: 0 0 0 7px;
  width: 100%;
}
